# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Fail if FreshRSS database type is set to `sqlite`
  when: "freshrss_database_type == 'sqlite'"
  ansible.builtin.set_fact:
    devture_playbook_runtime_messages_list: |
      {{
        devture_playbook_runtime_messages_list | default([])
        +
        [
          "Database credentials are not available for a SQLite database."
        ]
      }}

- name: Run if FreshRSS database type is set to `mysql`
  when: "freshrss_database_type == 'mysql'"
  block:
    - name: Fail if required FreshRSS + MySQL integration settings not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`) when `freshrss_database_type` is `mysql`
      when: "freshrss_database_type == 'mysql' and lookup('vars', item, default='') | string | length == 0"
      with_items:
        - freshrss_database_mysql_hostname
        - freshrss_database_mysql_password

    - name: Print FreshRSS MySQL database credentials
      ansible.builtin.set_fact:
        devture_playbook_runtime_messages_list: |
          {{
            devture_playbook_runtime_messages_list | default([])
            +
            [
              "Here is your FreshRSS MySQL database information:
              - database host: `" + freshrss_database_mysql_hostname + ":" + freshrss_database_mysql_port + "`
              - database username: `" + freshrss_database_mysql_username + "`
              - database password: `" + freshrss_database_mysql_password + "`
              - database name: `" + freshrss_database_name + "`
              Enter these values on the installation wizard UI.

              Table prefix does not have to be set."
            ]
          }}

- name: Run if FreshRSS database type is set to `postgres`
  when: "freshrss_database_type == 'postgres'"
  block:
    - name: Fail if required FreshRSS + Postgres integration settings not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`) when `freshrss_database_type` is `postgres`
      when: "freshrss_database_type == 'postgres' and lookup('vars', item, default='') | string | length == 0"
      with_items:
        - freshrss_database_hostname
        - freshrss_database_password

    - name: Print FreshRSS Postgres database credentials
      ansible.builtin.set_fact:
        devture_playbook_runtime_messages_list: |
          {{
            devture_playbook_runtime_messages_list | default([])
            +
            [
              "Here is your FreshRSS Postgres database information:
              - database host: `" + freshrss_database_hostname + ":" + freshrss_database_port | string + "`
              - database username: `" + freshrss_database_username + "`
              - database password: `" + freshrss_database_password + "`
              - database name: `" + freshrss_database_name + "`
              Enter these values on the installation wizard UI.

              Table prefix does not have to be set."
            ]
          }}
