{#
SPDX-FileCopyrightText: 2024 Alejandro AR

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if freshrss_container_labels_traefik_enabled %}
traefik.enable=true

{% if freshrss_container_labels_traefik_docker_network %}
traefik.docker.network={{ freshrss_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if freshrss_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ freshrss_identifier }}-slashless-redirect.redirectregex.regex=({{ freshrss_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ freshrss_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [freshrss_identifier + '-slashless-redirect'] %}
{% endif %}

{#
	Intentionally not adding a stripPrefix middleware.
	FreshRSS seems to serve itself under the same prefix it sees in the BASE_URL environment variable.
#}

{% if freshrss_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in freshrss_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ freshrss_identifier }}-add-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [freshrss_identifier + '-add-headers'] %}
{% endif %}

traefik.http.routers.{{ freshrss_identifier }}.rule={{ freshrss_container_labels_traefik_rule }}
{% if freshrss_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ freshrss_identifier }}.priority={{ freshrss_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ freshrss_identifier }}.service={{ freshrss_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ freshrss_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ freshrss_identifier }}.entrypoints={{ freshrss_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ freshrss_identifier }}.tls={{ freshrss_container_labels_traefik_tls | to_json }}
{% if freshrss_container_labels_traefik_tls %}
traefik.http.routers.{{ freshrss_identifier }}.tls.certResolver={{ freshrss_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ freshrss_identifier }}.loadbalancer.server.port=80
{% endif %}

{{ freshrss_container_labels_additional_labels }}
